dbcc
*.dbc
core
vgcore.*
*.o
*.d
*.log
*.conf
*.out
*.htm
ex*
*.1
*.pdf
*.html
*.xhtml
*.exe
*.a
*.so

Debug/
*.sln
*.vcxproj*
dbcc.VC.db
*.opendb

Release/


# QtCreator project files
*.pro.user
*.pro
*.config
*.files
*.includes
*.creator
*.creator.user

.directory
.project

*.json
